
.new-portfolio-item{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid red;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.new-portfolio-design{
    height: 20px;
    background-color: red;
    display: flex;
    align-items: center;
    /* keep browser design stuck to the top */
    position: sticky;
    z-index: 1;
}

.new-portfolio-shape{
    width: 6px;
    height: 6px;
    background-color: white;
    margin: 3px;
    border-radius: 50%;
}

.new-portfolio-img{
    width: 100%;
    transition: all 10s ease;
}

/* animate portfolio image to imitate scroll when hovered */
.new-portfolio-item:hover .new-portfolio-img{
   transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
    .new-portfolio-item{
        width: 40%;
        height: 20vh;
    }
}