
.new-portfolio-item{
    width: 30%;
    height: 60vh;
    margin: 20px 10px;
    border: 2px solid red;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.new-portfolio-design{
    height: 20px;
    background-color: red;
    display: flex;
    align-items: center;
    /* keep browser design stuck to the top */
    position: sticky;
    z-index: 1;
}

.new-portfolio-listDescription{
    padding: 10px;
    margin: 0px 3px 3px 0px;
    font-size: 13px;
}

.new-portfolio-listTools{
    padding: 10px;
    margin: 0px 3px 3px 0px;
    font-size: 13px;
}

.new-portfolio-shape{
    width: 6px;
    height: 6px;
    background-color: white;
    margin: 3px;
    border-radius: 50%;
}

.new-portfolio-img{
    width: 100%;
    height: 60%;
    transition: all 10s ease;
}


/* animate portfolio image to imitate scroll when hovered */
/* .new-portfolio-item:hover .new-portfolio-img{
   transform: translateY(-100%);
} */

.hidden-button{
    /* width: 70px; */
    height: 30px;
    padding: -20px;
    display: inline-block;
    align-items: center;
    text-align: center;
    /* display: flex; */
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .new-portfolio-item{
        width: 40%;
        height: 20vh;
    }

    .new-portfolio-listDescription, .new-portfolio-listTools{
        display: none;
    }

    .new-portfolio-img{
       height: 85%;
    }
    
    .new-portfolio-item{
        height: 20vh;
    }
}