

.portfolio-list{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    min-height: 100vh;
    overflow: scroll;
}

.portfolio-listText{
    width: 65%;
    margin-top: -60px;
}

.portfolio-listTitle{
    font-size: 50px;
    font-weight: 600;
}

.portfolio-listSubtitle{
    margin: 20px 0px;
    margin-top: 5px;
}

.portfolio-listItems{
    width: 100%;
    display: flex;
    /* flexed content spills to another line and prevent over flow */
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 480px) {
    .portfolio-list{
        padding: 10px;
    }

    .portfolio-listText{
        width: 100%;
    }

    .portfolio-listTitle{
        margin-top: 60px;
    }
}