
.intro{
    /* split intro component to two */
    display: flex;
    height: 100vh;
}

/* divide share of display by 50% for each div */
.intro-left{
flex: 1;
display: flex;
align-items: center;
/* justify content aligns the element horizontally */
justify-content: center;
}

/* divide share of display by 50% for each div */
.intro-right{
flex: 1;
position: relative;
}

.intro-left-container{
    padding: 50px;
    height: 50%;
    display: flex;
    /* display all items in the container in a column */
    flex-direction: column;
    /* insert space between each item in the */
    justify-content: space-between;
}

.intro-greeting{
    font-size: 30px;
    font-weight: 300;
}

.intro-name{
    font-size: 60px;
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

/* loop animation infinitely */
.intro-title-container{
    height: 100%;
    
   animation: move 9s ease-in-out infinite alternate;
} 

/* scroll animate jobs in intro title */
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-150px);
    }
}

.intro-title-item{
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: red;
    background-color: yellow;
    /* display flex and align items centers item vertically within its container */
    display: flex;
    align-items: center;
}

.intro-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 50% 50%;
    /* margin-left: 90px; */
    margin-top: 40px;
    /* transform: scale(1.1, 1.1); */
 
    /* object-fit: cover; */
}

.image-bg{
    /* clip path maker creates user generated shapes */
    /* clip-path: circle(48.6% at 50% 50%); */
    /* clip-path: polygon(100% 0%, 100% 59%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
    clip-path: circle(64.8% at 68% 48%);
    background: #E03616;
    width: 100%;
    height: 100%;
    /* when using absolute position, parent element should be relative */
    position: absolute;
    /* append the image to top of clip-path */
    top: 0;
    right: 0;
}

