
.contact-me{
    height: 100vh;
    position: relative;
}

.contact-me-bg{
    width: 20px;
    height: 100%;
    background-color: red;
    position: absolute;
}

.contact-me-container{
    padding: 50px;
    display: flex;
}

.contact-me-left{
    flex: 1
}

.contact-me-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
}

.contact-icon{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 20px;
    /* margin-top: 2px; */
}

.contact-email{
    margin-left: -20px;
}

.contact-me-description{
    font-weight: 200;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

button{
    border: none;
    padding: 15px;
    background-color: red;
    color: white;
    font-weight: 500;
    cursor: pointer;

}

/* responsive for small mobile  */
@media screen and (max-width: 480px){
    .contact-me-container{
        flex-direction: column;
        padding: 0px 50px;
    }

    .contact-me-title{
       font-size: 30px; 
    }

    .contact-me-info-item{
        margin: 20px 0px;
        width: 100%;
    }

    /* hide text in mobile */
    .contact-me-description{
        display: none;
    }

    form{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input{
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }

    button{
        margin-top: 10px;
    }
}