
.about-me{
    height: 100vh;
      /* display flex and align items centers item vertically within its container */
    display: flex;
    align-items: center;
   

}

.about-meLeft{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-top: 100px;
}

.about-meRight{
    flex: 1;
    margin-right: 60px;
    margin-top: 365px;
}

.about-meCard.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #E03616;
}

.about-meCard{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-meImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_buttons{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    
}

.about-meTitle{
    font-weight: 400;
    padding: 10px;
}

.about-meSubtitle{
    /* margin: 20px 0px; */
    padding: 10px;
    font-size: 14px;
}

.about-meDescription{
    font-weight: 200;
    padding: 10px;
    font-size: 14px;
}

@media screen and (max-width: 480px){
    .about-me{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height: 100vh;
    }

    .about-meLeft{
        width: 100%;
     
    }

    .about-meCard{
        height: 30vh;
    }

    .about-meCard.bg{
        display: none;
    }

    .about-meRight{
        padding: 20px;
        margin-bottom: 90px;
    }

    .about_buttons{
        margin-top: 90px;
        height: 10%;
    }

    /* .button--flex{
        height: 100%;
    } */
}